body{
    min-width:400px; /*ancho del div a centrado*/
    min-height:300px;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
.main-section{
    margin: 0 auto;
    margin-top: 30%;
}
.modal-content{
    padding: 15px;
}